@import "~bootstrap/scss/bootstrap";

$font-family-display: ZCOOL QingKe HuangYou, Londrina Shadow, Audiowide, monospace, sans-serif;

$red: #ff7e8b;
$light: lighten($dark, 40%);
$secondary: lighten($dark, 6%);
$info: rgba(39, 76, 102, 0.99);
$warning: hsla(39, 100%, 32%, 0.79);
$primary: $blue;
$dark: $gray-800;

* {
  border: 0 solid black !important;
  border-radius: 2px !important;
  outline: none;
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-270 {
  transform: rotate(270deg);
}

.loading {
  pointer-events: none;
  cursor: wait;
}

.btn {
  text-align: center;
  vertical-align: center;
  &.disabled {
    background-color: $gray-600 !important;
    &:hover {
      pointer-events: none;
      cursor: cell;
    }
  }
  &.btn-secondary {
    background-color: $secondary;
    &:hover {
      background: darken($secondary, 10%);
    }
    &.active {
      background-color: darken($secondary, 8%);
    }
  }
  &.btn-warning {
    background-color: $warning;
    &:hover {
      background: darken($warning, 10%);
    }
    &.active {
      background-color: darken($warning, 8%);
    }
  }
  &.btn-danger {
    &:hover {
      background: darken($danger, 10%);
    }
    &.active {
      background-color: darken($danger, 8%);
    }
  }
  &.btn-info {
    background-color: $info;
    &:hover {
      background: darken($info, 10%);
    }
    &.active {
      background-color: darken($info, 8%);
    }
  }
  &.btn-light {
    &:hover {
      background: darken($light, 10%);
    }
    &.active {
      background-color: darken($light, 8%);
    }
  }
  &.btn-success {
    &:hover {
      background: darken($success, 10%);
    }
    &.active {
      background-color: darken($success, 8%);
    }
  }
  &.btn-dark {
    &:hover {
      background: darken($dark, 10%);
    }
    &.active {
      background-color: darken($dark, 8%);
    }
  }
  &.btn-primary {
    &:hover {
      background: darken($primary, 10%);
    }
    &.active {
      background-color: darken($primary, 8%);
    }
  }
}

body, section {
  font-size: 16px;
  background: $black;
  color: $white;
  line-height: 1.25;
}

p {
  @extend .mb-3;
}

pre > code {
  @extend .p-3;
  color: $red;
  background-color: transparent;
  box-shadow: none;
}

.h1 {
  font-family: $font-family-display;
  font-size: 4rem;
  & > a:hover, &.btn:hover {
    text-decoration: none;
    color: $light !important;
  }
}

.h2 > a:hover {
  text-decoration: none;
}

.h1 > .btn {
  @extend .h1;
  display: block;
  margin: auto;
  background: transparent !important;
}

@media only screen and (max-width: 600px) {
  .h1 {
    font-size: 1.2rem;
  }
  .h2 {
    font-size: 1.1rem;
  }
  .h3 {
    font-size: 1rem;
  }
  body {
    font-size: 14px;
  }
  .btn {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

@media only screen and (max-width: 1200px) {
  .h1 {
    font-size: 2.0rem;
  }
  .h2 {
    font-size: 1.6rem;
  }
  .h3 {
    font-size: 1.4rem;
  }
  body {
    font-size: 15px;
  }
  .btn {
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

code {
  @extend .p-1;
  background-color: lighten($dark, 5%);
  border-radius: 3px;
  box-shadow: 1px 1px 3px $light;
}

.list-group-item {
  @extend .mb-1;

  &:hover {
    background-color: darken($dark, 12%) !important;
  }

  &.active {
    background-color: darken($dark, 7%) !important;
  }

  &.list-group-item-secondary {
    background-color: $secondary;
  }
}

.badge {
  @extend .mr-2;
  @extend .mb-2;

  &.badge-info {
    background-color: $info;
  }
}

.toast {
  background-color: $dark !important;
}

html body .pagination {
  background-color: $dark;

  & > li.page-item {
    background-color: $dark;

    &:not(.active), &:not(.active) > .page-link {
      background-color: $dark;
      color: inherit;
    }

    &:hover, & > .page-link:hover {
      background-color: lighten($dark, 15%) !important;
    }

    &.active, &.active > .page-link {
      @extend .font-weight-bolder;
      background-color: $light;
      color: $black;
    }
  }
}
